/*!
 * This file is part of Solana Reference Stake Pool code.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

// Firstlook Section

.firstlook-section {
  padding-top: 55px;

  @media (max-width: $breakpoint-sm) {
    padding-top: 0;
  }

  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.firstlook__body {
  background: url(/src/assets/img/bg-sol-part.svg) no-repeat 15px center;

  @media (max-width: $breakpoint-sm) {
    background-position: center center;
  }

  background-size: contain;
  padding: 30px 0;
  min-height: 400px;
}

.Valsection {

  &__wallet,
  &__stake-box {
    @media (max-width: $breakpoint-sm) {
      padding: 0 !important;
    }
  }

  &__epoch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -10px auto 20px;

    @media (max-width: $breakpoint-xs) {
      margin: 0 auto 45px;
    }
 }
 
 .apy {
  color: #000 !important;
//  margin-bottom: 5px;

  .q-inner-loading {
    background: none;
  }
}

  &__placeholder {
    position: absolute;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    border-radius: 50%;
    background: #fff;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 55px;

    &__icon {
      height: 115px;
    }
  }
}

.subheader-styled {
  height: 60px;
  background: #455A64;
  color: #ffffff81;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 44px;
}

.subheadernext-styled {
  height: 60px;
  background: #455A64;
  color: #ffffff81;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 44px;
}

.subheader-epoch {
  display: flex;
  align-items: center;
//  background-color: #FFFFFF !important;
  font-family: Helvetica;
  font-size: 14px;
  padding: 44px 0;
  position: absolute;
  right: calc(50% - 55px);
  top: 84px;
//  z-index: -1;
@media (max-width: $breakpoint-sm) {
  display: none;
}
}

.faq-section {
  position: relative;
  margin: 0 !important;
  padding-bottom: 40px;
}

.faq-list {
  margin-top: 35px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faq-item {
  margin-bottom: 30px;
  padding: 30px 40px;
  border-radius: 12px;
  background-color: transparentize($gray, .95);

  @media (max-width: $breakpoint-sm) {
    width: 100%;
    padding: 15px 20px;
  }

  &__title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &__body {
    font-size: 14px;
    line-height: 1.1;
  }

  a {
    color: #000;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.faq-special {
  margin-top:-10px}
  
  @media (max-width: 1023px){
.faq-special{margin-top:-30px}}
.faq-special__items{
  display:flex;
  justify-content:center;
  gap:17px;
  margin:0 0 90px}
  
  @media (max-width: 1023px){
.faq-special__items{
  flex-direction:column}}
.faq-special__item{
  display:flex;
  min-width:316px;
  min-height:76px;
  color:#fff;
  text-decoration:none;
  border-radius:12px;
  box-shadow:8px 8px 10px #0000004d}
.faq-special__desc{
  background:#455a64;
  padding:14px 17px;
  border-top-left-radius:12px;
  border-bottom-left-radius:12px}
  @media (max-width: 1023px){
.faq-special__desc{
  width:100%}}
.faq-special__title{
  font-weight:700;
  font-size:13px;
  line-height:15px;
  text-transform:uppercase}
.faq-special__text{
  font-weight:400;
  font-size:11px;
  line-height:13px}
.faq-special__icon{
  display:flex;
  justify-content:center;
  align-items:center;
  min-width:88px;
  background-color:#f3f4f5;
  border:1px solid #455a64;
  border-top-right-radius:12px;
  border-bottom-right-radius:12px}

// Dark Mode

body.body--dark {
  .firstlook-section {
    &::before {
      @include bgWave($dark-page);
    }
  }

  .team-section {
    &::before {
      @include bgWave($dark-page);
    }
  }

  .faq-section {
    background-color: $dark;
  }
}

.social
 {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding-right: 7px;
  margin-top: -15px;
  margin-bottom: 0px;
}

.partners-title {
  font-size: 20px;
  font-weight: 100;
  min-width: 20px;
  text-align: center;
  color: #fff;
  display: block;
  padding: 12px;
  background-color: #455a64;
  border-radius: 100px;
  text-transform: uppercase;
}

.partners__logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
  padding: 40px;
}

.partners__logo {
  height: 100px;
  min-width: 170px;
  border-radius: 12px;
  box-shadow: 8px 8px 10px #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q-card {
  border-left: 0;
  border-right: 0;
  box-shadow: 0 1px 3px #0003, 0 2px 2px #00000024, 0 3px 1px -2px #0000001f;
  border-radius: 10px;
  vertical-align: top;
  background: #fff;
  position: relative;
}

.q-card__section {
  position: relative;
}

.q-card__section--vert {
  padding: 16px;
}

.validators-and-stakes {
  overflow-x: auto;
//  box-shadow: 6px 4px 4px 2px #0000004d;
  padding-bottom:15rem;
}

.validators-and-stakes__main {
//adaptive height  overflow-x: auto;
  box-shadow: 6px 4px 4px 2px #0000004d;
}

.validators-and-stakes__title
{display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:4rem}

.validators-and-stakes__title__text
{font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  font-size:18px;
  line-height:37px;
  text-transform:uppercase;
  color:#455a64}

.validators-and-stakes__list__head {
  background: #455A64;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  height: 46px;
  padding-top: 13px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1110px !important;
}

.validators-and-stakes__list
{
  width:1110px !important;
  padding-top: 10px;
}

.validator-item {
  flex-wrap: nowrap;
  width: 1080px;
}

.validator-item__icon {
  width: 50px;
  border-right: 1px solid #9EB3BD;
  padding-right: 16px;
}

.validator-item__logo {
  width: 50px;
//  border-right: 1px solid #9EB3BD;
  padding-right: 16px;  
//  margin-right: 10px;
//  padding-left: -25px;
}

.validator-item__name {
//  font-weight: 500;
  width: 200px;
  font-size: 15px;
  overflow: hidden;
//  white-space: wrap;
  text-overflow: ellipsis;
  border-right: 1px solid #9EB3BD;
//  padding-right: 10px;
//  align-items: flex;
}
.validator-item__name__details {
//  font-weight: 500;
  width: 197px;
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #9EB3BD;
//  padding-right: 10px;
//  align-items: flex;
  white-space: break-spaces;
}

.validator-item__apy {
  width: 130px;
  font-weight: 500;
  align-items: flex;
  border-right: 1px solid #9EB3BD;
//  padding-right: 10px;
  font-size: 15px;
}

.validator-item__apy__val {
  font-size: 18px;
  color: #000;
}
.validator-item__apy__fee {
  font-size: 16px;
  color: #455a64;
}

.validator-item__address {
  width: 190px;
  border-right: 1px solid #9EB3BD;
//  padding-left: 8px;
//  padding-right: 10px;
}

.validator-item__stake {
  width: 250px;
//  padding-left: 8px;
//  padding-right: 16px;
  border-right: 1px solid #9EB3BD;
}
.validator-item__totalstake{
  width: 75px;
  font-size: 12px;
}

.validator-item__stakebtn{
  width: 75px;
//  margin-left: auto;
}

.validator-item__btns {
//  width: 100px;
  margin-left: auto;
}

.q-mb-sm {
  margin-top: 8px;
  font-size: 11px;
}


.q-mr-md {
  margin-right: 10px;
}
.q-mt-sm {
  margin-top: 8px;
}

.q-mt-xs {
  margin-top: 4px;
  color:#000;
}

.q-mr-sm {
  margin-right: 8px;
}

.q-pl-sm {
  padding-left: 8px;
}

.column {
  flex-direction: column;
}

.q-my-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.q-px-md {
  padding-left: 2px;
  padding-right: 2px;
}

.q-pt-sm {
  padding-top: 8px;
}

.q-pb-md {
  padding-bottom: 16px;
}

.full-width {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.fit {
  width: 100%!important;
  height: 100%!important;
}
.content-start {
  align-content: flex-start;
}
.items-start {
  align-items: flex-start;
}
.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center, .flex-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}
.row, .column, .flex {
  display: flex;
  flex-wrap: wrap;
}

.stake-accounts-container {
  border-bottom: 1px solid #78909c;
  height: auto;
  width: auto;
  color:#000;  
}

.shadow-1 {
  box-shadow: 1 2px 4px #0003, 1 2px 4px #00000024, 1 2px 4px -1px #0000001f;
}

.q-avatar {
//  position: relative;
//  vertical-align: middle;
//  display: inline-block;
  border-radius: 50%;
  font-size: 50px;
//  height: 1em;
//  width: 1em;
}

.q-avatar__content {
  text-align: center;
  font-size: .5em;
  line-height: .5em;
}

.q-img {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.q-img__container {
//  border-radius: inherit;
}

//.validator-item__apy {
//  width: 150px;
//  font-weight: 500;
//  align-items: flex-end;
//  border-right: 1px solid #9EB3BD;
//  padding-right: 16px;}

